mixin postslisting(posts)
  - each post in posts
    section
      .post-intro
        h2.post-title
          a(href="#")= post.title
        .excerpt= post.excerpt

article
  .container
    mixin postslisting(posts)