!!! 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js')
    script(src='../javascripts/bootstrap.min.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  header
    hgroup
      h1 This is the end of the universe

  nav(role="navigation").navbar
    .navbar-inner
      .container

        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar

        .nav-collapse
          ul.nav
            li.active
              a(href='#') home
            li
              a(href='#') about

  .main
    .content.row
      body!= body
      aside.span4
        section
          ul.recent
            li
              a(href="#") yesterday
            li
              a(href="#") tomorrow