@import "../css/bootstrap.css"
@import "../css/bootstrap-responsive.css"


$color = #FFB7FF

body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color: #00B7FF
a
  color: $color